.button{
    color: white;
    text-decoration: none;
    background-color: #21343d;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 1.5rem;
    width: 10rem;
}